
/* Firefox needs for background gradient to stretch */
html {
    height:100%;
}

/* Add the brown gradient background */
body {
    text-align:center;
    text-shadow:none;
    background: #8c3310; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #8c3310 0%, #3f1200 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#8c3310), color-stop(100%,#3f1200)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #8c3310 0%,#3f1200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #8c3310 0%,#3f1200 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #8c3310 0%,#3f1200 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #8c3310 0%,#3f1200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c3310', endColorstr='#3f1200',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.logo {
    width:394px;
    height:100px;
}

/* Main canvas */
.main {

    width:1100px;
    height:460px;
    margin:auto;
    border:5px solid rgb(0, 25, 0);
    border-radius:10px;
    text-align:left;

    -moz-box-shadow:    0 0 60px 0px rgba(0,0,0,.9);
    -webkit-box-shadow: 0 0 60px 0px rgba(0,0,0,.9);
    box-shadow:         0 0 60px 0px rgba(0,0,0,.9);

    /* Green gradient background with tiles */
    background: url('../img/tiles.png'), #006e2e; /* Old browsers */
    background: url('../img/tiles.png'), -moz-radial-gradient(center, ellipse cover,  #006e2e 0%, #003315 100%); /* FF3.6+ */
    background: url('../img/tiles.png'), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#006e2e), color-stop(100%,#003315)); /* Chrome,Safari4+ */
    background: url('../img/tiles.png'), -webkit-radial-gradient(center, ellipse cover,  #006e2e 0%,#003315 100%); /* Chrome10+,Safari5.1+ */
    background: url('../img/tiles.png'), -o-radial-gradient(center, ellipse cover,  #006e2e 0%,#003315 100%); /* Opera 12+ */
    background: url('../img/tiles.png'), -ms-radial-gradient(center, ellipse cover,  #006e2e 0%,#003315 100%); /* IE10+ */
    background: url('../img/tiles.png'), radial-gradient(ellipse at center,  #006e2e 0%,#003315 100%); /* W3C */

}

/* Game table */
.game {

    /* Inner shadow */
    background: #006e2e; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #006e2e 0%, #004c1e 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#006e2e), color-stop(100%,#004c1e)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #006e2e 0%,#004c1e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #006e2e 0%,#004c1e 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #006e2e 0%,#004c1e 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #006e2e 0%,#004c1e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#004c1e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    display:inline-block;
    width:250px;
    height:280px;
    position:relative;
    top:85px;
    float:right;

    border-radius: 5px;
    border:4px solid rgba(255,0,0,.7);

    -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.5);
    box-shadow:         inset 0 0 10px rgba(0,0,0,.5);
    float:left;

}

/* Game table shadow */
.game:before {
    position:absolute;
    content:" ";
    width:250px;
    height:285px;
    border-radius: 5px;
    display:block;
    -moz-box-shadow:    5px 5px 30px 0 rgba(0,0,0,1);
    -webkit-box-shadow: 5px 5px 30px 0 rgba(0,0,0,1);
    box-shadow:         5px 5px 30px 0 rgba(0,0,0,1);
}

/* Bets occur via each game's bet form, but we control it via
   JavaScript, so hide them */
.game form {
    display:none;
}

.game .message {
    position:absolute;
    top: 240px;
    left:120px;
    color:#fff;
}

.footer {

    text-align:right;
    width:1050px;
    border-radius:5px;
    margin:25px auto;
    padding:15px;
    padding-right:20px;
    height:50px;

    /* Black top to transparent footer background */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#1a000000',GradientType=0 ); /* IE6-9 */

}

/* Chat form */
.chat {margin:0;}
.chat .btn {letter-spacing:1px;}
.chat .message {
    margin:3px;
    width:300px;
    border:2px solid #000;
}

/* Draggable betting chips */
.chip {

    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    color: white;
    border:4px dashed white;
    border-radius: 50px;
    float: left;
    letter-spacing:-1px;
    font-weight: bold;
    line-height: 70px;
    margin-top:-27px;
    margin-right:5px;
    cursor:move;

    -moz-transform:     perspective(100px) rotateX(60deg);
    -webkit-transform:  perspective(100px) rotateX(60deg);
    transform:          perspective(100px) rotateX(60deg);

    -moz-box-shadow:    0px 5px 10px 0 rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, .6);
    box-shadow:         0px 5px 10px 0 rgba(0, 0, 0, .6);

}

.ui-draggable {
    z-index:50000000;
}

.chip-drop-over {
    background-color: #ffa60d !important;
}

/* Moveable user avatar */
.user {
    display:none;
    position: absolute;
    z-index:50;
}
.user img {
    width: 40px;
    height:40px;
    border-radius:5px;
    border:1px solid rgba(0,0,0,.5);
    -moz-box-shadow:    0px 5px 10px 0 rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, .6);
    box-shadow:         0px 5px 10px 0 rgba(0, 0, 0, .6);
}
