
html {
    height:100%; /* Firefox needs for background gradient to stretch */
}

body {

    text-align:center;

    /* Background gradients by http://www.colorzilla.com/gradient-editor/ */
    background: #8c3310; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #8c3310 0%, #3f1200 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#8c3310), color-stop(100%,#3f1200)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #8c3310 0%,#3f1200 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #8c3310 0%,#3f1200 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #8c3310 0%,#3f1200 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #8c3310 0%,#3f1200 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c3310', endColorstr='#3f1200',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.logo {
    width:394px;
    height:100px;
}

/* Main canvas */
.main {

    width:1100px;
    height:460px;
    margin:auto;
    border:5px solid rgb(0, 25, 0);
    border-radius:10px;
    text-align:left;

    -moz-box-shadow:    0 0 60px 0px rgba(0,0,0,.9);
    -webkit-box-shadow: 0 0 60px 0px rgba(0,0,0,.9);
    box-shadow:         0 0 60px 0px rgba(0,0,0,.9);

    /* Background gradients by http://www.colorzilla.com/gradient-editor/ */
    background: url('../img/tiles.png'), #006e2e; /* Old browsers */
    background: url('../img/tiles.png'), -moz-radial-gradient(center, ellipse cover,  #006e2e 0%, #003315 100%); /* FF3.6+ */
    background: url('../img/tiles.png'), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#006e2e), color-stop(100%,#003315)); /* Chrome,Safari4+ */
    background: url('../img/tiles.png'), -webkit-radial-gradient(center, ellipse cover,  #006e2e 0%,#003315 100%); /* Chrome10+,Safari5.1+ */
    background: url('../img/tiles.png'), -o-radial-gradient(center, ellipse cover,  #006e2e 0%,#003315 100%); /* Opera 12+ */
    background: url('../img/tiles.png'), -ms-radial-gradient(center, ellipse cover,  #006e2e 0%,#003315 100%); /* IE10+ */
    background: url('../img/tiles.png'), radial-gradient(ellipse at center,  #006e2e 0%,#003315 100%); /* W3C */

}

/* Game table */
.game {

    /* Background gradients by http://www.colorzilla.com/gradient-editor/ */
    background: #006e2e; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #006e2e 0%, #004c1e 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#006e2e), color-stop(100%,#004c1e)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #006e2e 0%,#004c1e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #006e2e 0%,#004c1e 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #006e2e 0%,#004c1e 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #006e2e 0%,#004c1e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#004c1e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    display:inline-block;
    width:200px;
    height:340px;
    margin:60px -8px 60px 60px;

    border-radius: 10px;
    border-style: inset;
    border:2px solid rgba(0,0,0,.1);

    -moz-box-shadow:    inset 0 0 20px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,.5);
    box-shadow:         inset 0 0 20px rgba(0,0,0,.5);
    z-index:2;

}

/* Game table shadow */
.game:before {
    content: " ";
    width:200px;
    height:340px;
    border-radius: 10px;
    display:block;
    z-index:1;
    -moz-box-shadow:    5px 5px 30px 0 rgba(0,0,0,1);
    -webkit-box-shadow: 5px 5px 30px 0 rgba(0,0,0,1);
    box-shadow:         5px 5px 30px 0 rgba(0,0,0,1);
}

.game form {
    display:none;
}

.footer {
    border-radius:5px;
    margin-top:25px;
    background: rgba(0,0,0,.15);
    padding:15px;
}

.chat {
    margin:0;
}

.chat .btn {
    letter-spacing:1px;
}

.chat .message {
    margin:3px;
    width:400px;
}
