<!doctype html>
<html lang="en">
{% load i18n %}

<head>

<title>{% trans "Gamblor" %}</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.slate.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.responsive.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
{% for game in games %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/games/{{ game.name }}.css">
{% endfor %}

<script src="{{ STATIC_URL }}js/libs/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/jquery.transit.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/jquery-collision.js"></script>
<script src="{{ STATIC_URL }}js/libs/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/json2.js"></script>
<script src="{{ STATIC_URL }}js/libs/socket.io.min.js"></script>

<script>
var socket;
var userID          = '{{ request.user.id }}';
var SOCKETIO_PORT   = {{ SOCKETIO_PORT }};
var MEDIA_URL       = '{{ MEDIA_URL }}';
var STATIC_URL      = '{{ STATIC_URL }}';
</script>

<script src="{{ STATIC_URL }}js/socket.js"></script>
<script src="{{ STATIC_URL }}js/game.js"></script>
<script src="{{ STATIC_URL }}js/chat.js"></script>
<script src="{{ STATIC_URL }}js/users.js"></script>
<script src="{{ STATIC_URL }}js/logo.js"></script>
{% for game in games %}
<script src="{{ STATIC_URL }}js/games/{{ game.name }}.js"></script>
{% endfor %}

</head>

<body>
<img class="logo" src="{{ STATIC_URL }}img/logo.png">
<div class="main">

{% for game in games %}
<div class="game game-{{ game.name }}">
    {% include game.template %}
    {% if request.user.is_authenticated %}
    <form>
        {{ game.form }}
        <input type="hidden" name="game" value="{{ game.name }}">
        <input type="submit" value="{% trans "Bet" %}">
    </form>
    {% endif %}
    <p class="message message-{{ game.name }}">Place your bets!</p>
</div>
{% endfor %}

{% if not request.user.is_authenticated %}
<div class="welcome">
    <h1>Welcome to Gamblor :-)</h1>
    <p>
        Login via Twitter or Facebook below to create your avatar,
        chat with friends, run around and play some games to win
        some fake money!
    </p>
    <a href="{% url socialauth_begin "twitter" %}">
        <img src="{{ STATIC_URL }}img/login-twitter.png">
    </a>
    <a href="{% url socialauth_begin "facebook" %}">
        <img src="{{ STATIC_URL }}img/login-facebook.png">
    </a>
</div>
{% endif %}

</div>

{% if request.user.is_authenticated %}
<div class="footer">
<div class="chip" style="background:#000;">1000</div>
<div class="chip" style="background:#f00;">500</div>
<div class="chip" style="background:#00AA19;">100</div>
<div class="chip" style="background:#0200A5;">50</div>
<div class="chip" style="background:#606;">20</div>
<div class="chip" style="background:#ffa60d;">5</div>
<div class="balance">${{ request.user.account.balance }}</div>
<form class="chat">
    <input type="text" class="message" placeholder="Message">
    <input type="submit" class="btn btn-inverse" value="{% trans "Say" %}">
</form>
</div>
{% else %}
<br><br>
{% endif %}

<p class="credits">
    Created by <a href="http://twitter.com/stephen_mcd">Stephen McDonald</a>
    for <a href="http://djangodash.com/">Django Dash 2012</a>.
</p>

<a href="http://github.com/stephenmcd/gamblor">
    <img class="fork" src="{{ STATIC_URL }}img/forkme.png" alt="Fork me on GitHub">
</a>

</body>
</html>
