<!doctype html>
<html lang="en">
{% load i18n %}

<head>

<title>{% trans "Gamblor" %}</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.spacelab.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.responsive.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

<script src="{{ STATIC_URL }}js/libs/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/json2.js"></script>
<script src="{{ STATIC_URL }}js/libs/socket.io.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/jquery-collision.js"></script>

<script>
var socket, port = {{ SOCKETIO_PORT }};
</script>
<script src="{{ STATIC_URL }}js/gamblor.js"></script>
{% for game in games %}
<script src="{{ STATIC_URL }}js/games/{{ game.name }}.js"></script>
{% endfor %}

</head>

<body>
<img class="logo" src="{{ STATIC_URL }}img/logo.png">
<div class="main">

{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}

{% if request.user.is_authenticated %}
Logged in as {{ request.user }} with ${{ request.user.account.balance }} <a href="{% url logout %}">Logout</a>
{% else %}
<a href="{% url socialauth_begin "twitter" %}">Login via Twitter</a>
{% endif %}

{% for game in games %}
<div class="game game-{{ game.name }}">
    <p class="players"></p>
    <a href="#">{{ game.name }}</a>
    {% if request.user.is_authenticated %}
    <form>
        {{ game.Form.as_p }}
        <input type="hidden" name="game" value="{{ game.name }}">
        <input type="submit" value="{% trans "Bet" %}">
    </form>
    {% endif %}
</div>
{% endfor %}

{% if request.user.is_authenticated %}
<form class="chat">
    <input type="text" class="message">
    <input type="submit" value="{% trans "Say" %}">
</form>
{% endif %}

<ul class="messages"></ul>

</div>
</body>
</html>
